<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        body { display: flex; align-items: center; justify-content: center; height: 100vh; font-family: Arial, sans-serif; }
        .container { text-align: center; }
    </style>
</head>
<body>
    <div class="container">
        <h1>Welcome to the Jogging Weight Loss Guide!</h1>
        <p>This is the Final Project for IDS706, Fall 24' at Duke University.</p>
        <p>Hosted by Group 8: Su Zhang, Jaixin Cindy Gao, Xiangyu Wang, Haobo Yuan.</p>
        <h2><a href="{{ url_for('input_data') }}">Start your journey!</a></h2>
    </div>
</body>
</html>
